<% content_for(:page_title, "Forgot password")%>
<%= form_for :user do |f| %>
<div id="loginform">
     <fieldset>
            <h3> Send password </h3>

             <label for="loginid">Username</label><br/>
             <%= f.text_field :login, :size => '30'%><br/><br/>
                   
        <div class="buttons">
               <input type="submit" id="logincommit" value="Send Password" class="pwdbutton">
        </div><br/>
      
     </fieldset>
</div>
<% end %>
