#header {height:90px; overflow:hidden; border:1px solid purple; width:60%;margin-left:20%;margin-top:80px;}
#bannerimg{border:1px solid red}
#main{border:1px solid blue; width: 60%; margin-left:20%; max-height:550px; height: auto; font-size:.9em; color:#224B96; overflow:auto;}
#primary{border:1px solid pink;height:100%; overflow:auto;}

