#header {height:90px; overflow:hidden; border:1px solid purple; width:53%;margin-left:23%;margin-top:80px;}
#bannerimg{border:1px solid red}
#main{border:1px solid blue; width: 53%; margin-left:23%; max-height:550px; height: auto; font-size:.9em; color:#224B96; overflow:auto;}
#primary{border:1px solid pink;height:100%; overflow:auto;}

.ui-widget-overlay {
  background-color: #333;
  filter:alpha(opacity=80);
  opacity: 0.8;
  zoom: 1;
}

.popup {
  background-color: #fff;
  border: 3px solid #C4D7DC;
  padding: 8px;
  width: 425px;
  font-size:.70em;
  margin: 0 auto;
}


#flash_notice { 
  border: 2px solid #900;
  display: none; 
  font-weight:bold;
}

.notice_dialog #flash_notice { display: block; }
.notice_dialog .ui-dialog-titlebar { display: none; }

#flash_notice ul.notice_messages { 
   width:auto;
   text-align:justify;
}


#flash_notice ul.notice_messages li { 
  margin: 5px 0; 
}

#flash_error { 
  border: 2px solid #900;
  display: none;
}

.error_dialog #flash_error { display: block; }

#flash_error ul.error_messages { 
  width:500px;
  text-wrap:none;
  text-align:justify;
}

.error_dialog #flash_error h4 { 
  margin-top: 8px;
}

